@using viafront3.Models.WalletViewModels
@using viafront3.Views.Wallet
@using viafront3.Views
@model DepositViewModel
@{
    ViewData["Title"] = "Deposit";
    ViewData.AddActivePage(WalletNavPages.Deposits);
}

<h4>@ViewData["Title"]</h4>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">@Model.Asset Deposit Address</div>
            <div class="panel-body">
                @Model.DepositAddress
                <div id="qrCode"></div>
            </div>
            <div class="panel-footer">
                <a asp-action="Transactions" asp-route-asset="@Model.Asset" asp-route-address="@Model.DepositAddress">View transactions</a>
            </div>
        </div> 
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/lib/qrcode.js/qrcode.js"></script>
    <script type="text/javascript" src="~/js/qrcode.js" data-id="qrCode" data-text="@Model.DepositAddress" data-width="150" data-height="150"></script>
}