@using viafront3.Models.WalletViewModels
@using viafront3.Views.Wallet
@using viafront3.Views
@model DepositViewModel
@{
    ViewData["Title"] = "Deposit";
    ViewData.AddActivePage(WalletNavPages.Deposits);
}

<h4>@ViewData["Title"]</h4>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">@Model.Asset Deposit Address</div>
            <div class="panel-body">
                @Model.DepositAddress
            </div>
            <div class="panel-footer">
                <a asp-action="TransactionCheck" asp-route-asset="@Model.Asset" asp-route-address="@Model.DepositAddress">Check for transactions</a>
            </div>
        </div> 
    </div>
</div>

