@using viafront3.Models.WalletViewModels
@using viafront3.Views.Wallet
@using viafront3.Views
@using xchwallet;
@model TransactionCheckViewModel
@{
    ViewData["Title"] = "Transaction Check";
    ViewData.AddActivePage(WalletNavPages.Deposits);
}

<h4>@ViewData["Title"]</h4>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">@Model.Asset Deposit Address</div>
            <div class="panel-body">
                @Model.DepositAddress
            </div>
        </div> 
        <table class="table table-bordered table-responsive table-hover">
            <tr>
                <th>
                    TX ID
                </th>
                <th>
                    From
                </th>
                <th class="pad-decimals">
                    Amount
                </th>
            </tr>
            <tbody>@{
                foreach (var item in Model.TransactionsIncomming)
                {
                    <tr>
                        <td>
                            @item.ChainTx.TxId
                        </td>
                        <td>
                            @item.ChainTx.From
                        </td>
                        <td>
                            <span class="pad-decimals-data">
                            @ViewUtils.FormatStrDec(Model.Wallet.AmountToString(item.ChainTx.Amount),
                                Model.AssetSettings[Model.Asset].Decimals)
                            </span>
                        </td>
                    </tr>
                }
            }</tbody>
        </table>
        @{
            if (Model.NewDeposits > 0)
            {
                <strong>Processed new deposits of @Model.NewDepositsHuman @Model.Asset</strong>
            }
        }
        </ul>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    @await Html.PartialAsync("_PadDecimalsScriptsPartial")
}