@using viafront3.Models.WalletViewModels
@using viafront3.Views.Wallet
@using viafront3.Views
@model WithdrawFiatViewModel
@{
    ViewData["Title"] = "Withdrawal";
    ViewData.AddActivePage(WalletNavPages.Withdrawals);
}

<h4>@ViewData["Title"]</h4>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>@Model.BalanceAvailable @Model.Asset Available</strong>
            </div>
            <div class="panel-body">
                <form id="withdraw-form" asp-action="WithdrawFiat" method="post" class="form-group" x-unit="@Model.Asset">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input type="hidden" asp-for="Asset" value="@Model.Asset" />
                    <div class="form-group">
                        <label asp-for="WithdrawalAccount"></label>
                        <input asp-for="WithdrawalAccount" class="form-control" />
                        <span asp-validation-for="WithdrawalAccount" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Amount"></label>
                        <input asp-for="Amount" class="form-control" />
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-default form-withdrawal-button">Withdraw @Model.Asset</button>
                    </div>
                </form>
            </div>
            <div class="panel-footer">
                <a asp-action="FiatTransactionView" asp-route-asset="@Model.Asset">View transactions</a>
            </div>
    </div>
</div>

<div class="modal fade" id="confirm-withdrawal-submit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Confirm Withdrawal
            </div>
            <div class="modal-body">
                <p>
                    Are you sure you want to create the following withdrawal?
                </p>
                <p id="modal-withdrawal-create-p">
                </p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <a href="#" id="confirm-withdrawal" class="btn btn-success success">Yes</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    @await Html.PartialAsync("_FiatWithdrawalCreationScriptPartial")
}