@{
    ViewData["Title"] = "Order Book";
    var priceUnit = ViewData["PriceUnit"];
    var amountUnit = ViewData["amountUnit"];
    var orderDepth = ViewData["OrderDepth"] as via_jsonrpc.OrderDepth;
}
<h2>@ViewData["Title"] - @ViewData["Market"]</h2>

<div class="row">
    <div class="col-md-6">
        <h3>Bid</h3>
        <table class="table table-bordered table-responsive table-hover">
            <tr>
                <th>
                    Price
                </th>
                <th>
                    Amount
                </th>
            </tr>
            <tbody>@{
                foreach (var item in orderDepth.bids)
                {
                    <tr>
                        <td>
                            @item.ElementAt(0) @priceUnit
                        </td>
                        <td>
                            @item.ElementAt(1) @amountUnit
                        </td>
                    </tr>
                }
            }</tbody>
        </table>
    </div>
    <div class="col-md-6">
        <h3>Ask</h3>
        <table class="table table-bordered table-responsive table-hover">
            <tr>
                <th>
                    Price
                </th>
                <th>
                    Amount
                </th>
            </tr>
            <tbody>@{
                foreach (var item in orderDepth.asks)
                {
                    <tr>
                        <td>
                            @item.ElementAt(0) @priceUnit
                        </td>
                        <td>
                            @item.ElementAt(1) @amountUnit
                        </td>
                    </tr>
                }
            }</tbody>
        </table>
    </div>
</div>