@model ApiViewModel
@{
    ViewData["Title"] = "Api";
    ViewData.AddActivePage(ManageNavPages.Api);
}

<h4>Your API KEYS</h4>
<div class="alert alert-warning">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        Remember that two-factor authentication is bypassed by any API keys that are enabled for your account.
    </p>
</div>

<div class="row">
    <div class="col-md-6">
        <table class="table table-condensed table-responsive table-hover">
            <tr>
                <th>Device Name</th>
                <th>Key</th>
            </tr>
            <tbody>
                @{
                    foreach (var apikey in Model.ApiKeys)
                    {
                        <tr>
                            <td>
                                @apikey.Name
                            </td>
                            <td>
                                @apikey.Key
                            </td>
                            <td>
                                <form method="post" asp-action="ApiDelete" id="delete-apikey-form-@apikey.Key" x-device-name="@apikey.Name">
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" asp-for="DeleteApiKey" value="@apikey.Key" />
                                    <button type="button" class="btn btn-warning btn-xs form-delete-button"
                                            data-toggle="modal" data-target="#confirm-delete-submit">
                                        Delete
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
            }
        </tbody>
    </table>
</div>
</div>
<div class="row">
    <div class="col-md-6">
        <a asp-action="ApiCreate"><button type="button" class="btn btn-primary">Create</button></a>
    </div>
</div>

<div class="modal fade" id="confirm-delete-submit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Confirm API KEY Deletion
            </div>
            <div class="modal-body">
                <p>
                    Are you sure you want to delete the following API KEY?
                </p>
                <p id="modal-apikey-delete-p"></p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <a href="#" id="confirm-deletion" class="btn btn-success success">Yes</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    @await Html.PartialAsync("_ApiKeyDeletionScriptPartial")
}
